body {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #0073e6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background-color: #005bb5;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.card {
    border-radius: 10px;
    padding: 10px 20px;
    border: solid 1px lightgray;
    display: flex;
    flex-direction: column;
    gap: 4px
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}